- var i = 0;

mixin component-item
  li.list-group-item
    block

mixin component(logo, title)
  div
    a(href='#demo#{i}', data-toggle='collapse')
      span(class='logoSmall glyphicon glyphicon-'+logo)
      h4= title
    div(id='demo#{i}', class='collapse')
      - i += 1;
      +list-group-custom
        block

mixin myCarousel(id,items)
  .carousel.slide.text-center(id=id, data-ride="carousel")
    //- Indicators
    ol.carousel-indicators
      each item,index in items
        if(index === 0)
          li.active(data-target="#carousel-#{id}", data-slide-to="#{index}")
        else
          li(data-target="#carousel-#{id}", data-slide-to="#{index}")

    //- Wrapper for slides
    .carousel-inner(role="listbox")
      each item,index in items
        if(index === 0)
          .item.active
            +carousel-caption(item)
        else
          .item
            +carousel-caption(item)

    //-  Controls
    a.left.carousel-control(href="#"+id, role="button", data-slide="prev")
      +icon("chevron-left")
      span.sr-only Previous
    a.right.carousel-control(href="#"+id, role="button", data-slide="next")
      +icon("chevron-right")
      span.sr-only Next